PORT=3000
MONGO_URI=mongodb://localhost:27017/your_database_name

# BetterAuth Environment Variables
ENCRYPTION_KEY=your_encryption_key_here

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Add these two lines to your .env
BETTER_AUTH_URL=http://localhost:3000/api/auth
BETTER_AUTH_SECRET=your_better_auth_secret_here

# Chapa (Fiat Gateway)
CHAPA_SECRET_KEY=your_chapa_secret_key_here
CHAPA_WEBHOOK_SECRET=your_chapa_webhook_secret_here

# Web3 (Transparency Layer)
RPC_URL=your_rpc_url_here # e.g., Alchemy or Infura URL
PRIVATE_KEY=your_wallet_private_key_here
CONTRACT_ADDRESS=your_smart_contract_address_here
